.password_strength {
  width: 150px;
  height: 22px;
}

.pass_state01 {
  background-image: url("images/strength_1.gif");
}

.pass_state02 {
  background-image: url("images/strength_2.gif");
}

.pass_state03 {
  background-image: url("images/strength_3.gif");
}

.pass_state04 {
  background-image: url("images/strength_4.gif");
}
